:root {
    font-size: 16px;
    font-family: 'Arial';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  .disable {
    display: none;
    visibility: hidden;
  }
  
  body {
    color: black;
    background-color: rgb(30,30,30);
    margin: 0;
    padding: 0;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    overflow: hidden;
    display: inline;
    z-index: 100;
  }
  
  .navbar:hover {
    width: 16rem;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item svg{
    margin-left: -1rem;
  }
  
  /* Moves bottom element to the bottom of the navbar */
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
  
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(20%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .active {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navbar:hover .link-text {
    display: inline;
    margin-left: 1rem;
    
    
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    
  }
  
  .fa-primary {
    color: rgb(18, 150, 197);
  }
  
  .fa-secondary {
    color: rgb(13, 95, 184);
  }
  
  .fa-brain-primary {
    color: rgb(209, 22, 156);
  }
  
  .fa-brain-secondary {
    color: rgb(208, 88, 174);
  }
  
  .fa-play-primary {
    color: rgb(7, 126, 17);
  }
  
  .fa-play-secondary {
    color: rgb(51, 196, 43);
  }
  
  
  .fa-primary,
  .fa-secondary,
  .fa-brain-primary,
  .fa-brain-secondary,
  .fa-play-primary,
  .fa-play-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    color: var(--text-primary);
    background: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    
  }
  
  .logo svg {
    transform: rotate(90deg);
    transition: transform var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-270deg);
    margin-left: 2rem;
  }
  
  .logo-text {
    display:inline-block;
    position:fixed;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  
  .navbar:hover .logo-text {
    display: inline;
    position:sticky;
    left: 0px;
    margin-left: 1rem;
    color: var(--text-secondary);
  }
  
  .nav-logo-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
  }
  
  .nav-logo-link:hover {
    background: var(--bg-primary);
    color: var(--text-secondary);
  }
  
  .nav-logo-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .navbar .logo {
    filter: grayscale(100%) opacity(0.7);
  }
  
  .navbar:hover .logo {
    filter: grayscale(0%) opacity(1);
  }  